NODE_ENV=development
PORT=4000

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.qoryhaivahvhhswpcofc:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.qoryhaivahvhhswpcofc:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

JWT_SECRET=change-me

# Frontend dev server
CORS_ORIGIN=http://localhost:5173

AUTO_SEED=true
